.select {
  display: flex;
  background-color: #f1f3f5;
  color: #111;
  margin-right: 1rem;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.select span {
  font-size: 16px;
  font-weight: 700;
  padding: 0.8rem 2rem;
}

.select span:first-child{
  background-color: #2769bd;
  color: #fff;
}

.unitSelectCheckbox {
  display: none;
}

.unitSelectCheckbox:checked ~ .select span:first-child {  
  background-color: #f1f3f5;
  color: #111;
}

.unitSelectCheckbox:checked ~ .select span:last-child {  
  background-color: #2769bd;
  color: #fff;
}
