* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #142b52;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(
    270deg,
    hsla(211, 77%, 58%, 1) 0%,
    hsla(200, 90%, 88%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(211, 77%, 58%, 1) 0%,
    hsla(200, 90%, 88%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(211, 77%, 58%, 1) 0%,
    hsla(200, 90%, 88%, 1) 100%
  );
  min-height: 100vh;
}
