.historyBlock{
  border-bottom: 1px solid #dce2f0;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.historyBlock:hover{
  padding-left: 1.5rem;
  background-color: #fcfcfc;
}